In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dd').getOrCreate()

In [5]:
df = spark.read.csv('/home/aravind/Downloads/aa/Electric_Production.csv',inferSchema=True,header=True)

In [6]:
df.show()

+-------------------+----------+
|               DATE|IPG2211A2N|
+-------------------+----------+
|1985-01-01 00:00:00|   72.5052|
|1985-02-01 00:00:00|    70.672|
|1985-03-01 00:00:00|   62.4502|
|1985-04-01 00:00:00|   57.4714|
|1985-05-01 00:00:00|   55.3151|
|1985-06-01 00:00:00|   58.0904|
|1985-07-01 00:00:00|   62.6202|
|1985-08-01 00:00:00|   63.2485|
|1985-09-01 00:00:00|   60.5846|
|1985-10-01 00:00:00|   56.3154|
|1985-11-01 00:00:00|   58.0005|
|1985-12-01 00:00:00|   68.7145|
|1986-01-01 00:00:00|   73.3057|
|1986-02-01 00:00:00|   67.9869|
|1986-03-01 00:00:00|   62.2221|
|1986-04-01 00:00:00|   57.0329|
|1986-05-01 00:00:00|   55.8137|
|1986-06-01 00:00:00|   59.9005|
|1986-07-01 00:00:00|   65.7655|
|1986-08-01 00:00:00|   64.4816|
+-------------------+----------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import year,month

In [8]:
yeardf = df.withColumn("Year",year(df['date']))

In [9]:
maxdf = yeardf.groupBy('Year').max()

In [10]:
maxdf.select('Year','max(IPG2211A2N)').show()

+----+---------------+
|Year|max(IPG2211A2N)|
+----+---------------+
|1990|        84.3598|
|2003|       110.1807|
|2007|       114.1036|
|2018|       129.4048|
|2015|       120.2696|
|2006|       111.5192|
|2013|        115.501|
|1988|        79.8703|
|1997|        98.4613|
|1994|        94.1386|
|2014|       124.2549|
|2004|       113.7226|
|1991|        86.0214|
|1989|        84.1949|
|1996|        98.9732|
|1998|         94.792|
|1985|        72.5052|
|2012|       113.0357|
|1987|        73.8152|
|2009|       116.8316|
+----+---------------+
only showing top 20 rows

In [12]:
monthdf = df.withColumn('Month',month('Date'))

In [14]:
avgs = monthdf.select(['Month','IPG2211A2N']).groupBy('Month').mean()

In [15]:
avgs.select('Month','avg(IPG2211A2N)').orderBy('Month').show()

+-----+------------------+
|Month|   avg(IPG2211A2N)|
+-----+------------------+
|    1|102.10024117647059|
|    2| 94.09552121212123|
|    3| 87.90269090909092|
|    4| 79.13451818181818|
|    5| 79.41436666666665|
|    6| 87.41590606060606|
|    7| 94.94491515151516|
|    8| 95.16984848484849|
|    9|  86.4843909090909|
|   10| 80.20912121212119|
|   11| 83.13587878787878|
|   12| 95.75760606060605|
+-----+------------------+