In [3]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [20]:
df = spark.read.csv('/home/aravind/Downloads/table1.csv')

In [21]:
df.show()

+----+----+---+
| _c0| _c1|_c2|
+----+----+---+
|u_id|a_id|add|
|   1|   2|  3|
|   1|  23|  4|
|   2|  34|  5|
|   2|   4|  5|
|   6|   7|  8|
|   4|   8|  4|
|  99|   7|  6|
| 122| 122|122|
+----+----+---+

In [22]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [25]:
df.columns()

TypeError: 'list' object is not callable

In [29]:
df.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [27]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string]

In [30]:
df.describe().show()

+-------+-----------------+------------------+-----------------+
|summary|              _c0|               _c1|              _c2|
+-------+-----------------+------------------+-----------------+
|  count|                9|                 9|                9|
|   mean|           29.625|            25.875|           19.625|
| stddev|50.32164402265548|40.346490376664555|41.39336558297373|
|    min|                1|               122|              122|
|    max|             u_id|              a_id|              add|
+-------+-----------------+------------------+-----------------+

In [32]:
from pyspark.sql.types import (StructField,StringType,IntegerType
                               ,StructType)

In [37]:
data_schema = [StructField('_c0',IntegerType(),True),
               StructField('_c1',StringType(),True)]

In [40]:
final_struc = StructType(fields=data_schema)

In [41]:
df = spark.read.csv('/home/aravind/Downloads/table1.csv',schema = final_struc)

In [42]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)