In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName('null').getOrCreate()

In [18]:
df = spark.read.csv('/home/aravind/Downloads/nulldata.csv',inferSchema=True,header=True)

In [19]:
df.show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514224|  null|   45|
|1514225|venkat|   64|
|1514226|  raja| null|
|1514227|  null| null|
|1514228| madan|   66|
+-------+------+-----+

In [23]:
df.na.drop().show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514225|venkat|   64|
|1514228| madan|   66|
+-------+------+-----+

In [22]:
df.na.drop(thresh=2).show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514224|  null|   45|
|1514225|venkat|   64|
|1514226|  raja| null|
|1514228| madan|   66|
+-------+------+-----+

In [26]:
df.na.drop(subset=['name']).show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514225|venkat|   64|
|1514226|  raja| null|
|1514228| madan|   66|
+-------+------+-----+

In [27]:
df.printSchema()

root
 |-- regno: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: integer (nullable = true)

In [28]:
df.show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514224|  null|   45|
|1514225|venkat|   64|
|1514226|  raja| null|
|1514227|  null| null|
|1514228| madan|   66|
+-------+------+-----+

In [33]:
df.na.fill("wait name is coming").show()

+-------+-------------------+-----+
|  regno|               name|marks|
+-------+-------------------+-----+
|1514224|wait name is coming|   45|
|1514225|             venkat|   64|
|1514226|               raja| null|
|1514227|wait name is coming| null|
|1514228|              madan|   66|
+-------+-------------------+-----+

In [37]:
from pyspark.sql.functions import mean

In [47]:
mean_val = df.select(mean(df["marks"])).collect()

In [48]:
mean_val

[Row(avg(marks)=58.333333333333336)]

In [49]:
mean_mar = mean_val[0][0]

In [50]:
df.show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514224|  null|   45|
|1514225|venkat|   64|
|1514226|  raja| null|
|1514227|  null| null|
|1514228| madan|   66|
+-------+------+-----+

In [52]:
df.na.fill(mean_mar,["marks"]).show()

+-------+------+-----+
|  regno|  name|marks|
+-------+------+-----+
|1514224|  null|   45|
|1514225|venkat|   64|
|1514226|  raja|   58|
|1514227|  null|   58|
|1514228| madan|   66|
+-------+------+-----+