In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('date').getOrCreate()

In [33]:
df = spark.read.csv('/home/aravind/Downloads/dataset.csv',inferSchema=True,header=True)

In [34]:
df.show()

+-------------------+-------------+-------------------+------+--------------+----------------+----+
|               Data|        Tipus|                Nom|Simbol|          Preu|Tipus_cotitzacio| _c6|
+-------------------+-------------+-------------------+------+--------------+----------------+----+
|2017-11-19 00:00:00|crypto_moneda|         BTCBitcoin|   BTC|6832.132357049|       molt_alta|null|
|2017-11-19 00:00:00|crypto_moneda|        ETHEthereum|   ETH| 298.516340662|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|    BCHBitcoin Cash|   BCH|1003.033599074|       molt_alta|null|
|2017-11-19 00:00:00|crypto_moneda|          XRPRipple|   XRP|   0.195272854|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|        LTCLitecoin|   LTC|  60.102649516|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           DASHDash|  DASH| 372.095987511|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|             NEONEO|   NEO|  32.961710374|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|          MIOTAIOTA| MIOTA|   0.729219422|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|          XMRMonero|   XMR| 108.665726285|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|             XEMNEM|   XEM|    0.17242484|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|ETCEthereum Classic|   ETC|  15.117010249|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|            LSKLisk|   LSK|   7.860165531|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           QTUMQtum|  QTUM|  11.777502082|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|             EOSEOS|   EOS|   1.606023011|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|          HSRHshare|   HSR|  16.476606449|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|         OMGOmiseGO|   OMG|    6.59404157|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           ZECZcash|   ZEC| 250.692544327|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|         ADACardano|   ADA|   0.023438589|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|         USDTTether|  USDT|   0.847027583|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|  XLMStellar Lumens|   XLM|   0.030826295|           baixa|null|
+-------------------+-------------+-------------------+------+--------------+----------------+----+
only showing top 20 rows

In [35]:
df.head(1)

[Row(Data=datetime.datetime(2017, 11, 19, 0, 0), Tipus='crypto_moneda', Nom='BTCBitcoin', Simbol='BTC', Preu='6832.132357049', Tipus_cotitzacio='molt_alta', _c6=None)]

In [36]:
df.select(['Data','Nom']).show()

+-------------------+-------------------+
|               Data|                Nom|
+-------------------+-------------------+
|2017-11-19 00:00:00|         BTCBitcoin|
|2017-11-19 00:00:00|        ETHEthereum|
|2017-11-19 00:00:00|    BCHBitcoin Cash|
|2017-11-19 00:00:00|          XRPRipple|
|2017-11-19 00:00:00|        LTCLitecoin|
|2017-11-19 00:00:00|           DASHDash|
|2017-11-19 00:00:00|             NEONEO|
|2017-11-19 00:00:00|          MIOTAIOTA|
|2017-11-19 00:00:00|          XMRMonero|
|2017-11-19 00:00:00|             XEMNEM|
|2017-11-19 00:00:00|ETCEthereum Classic|
|2017-11-19 00:00:00|            LSKLisk|
|2017-11-19 00:00:00|           QTUMQtum|
|2017-11-19 00:00:00|             EOSEOS|
|2017-11-19 00:00:00|          HSRHshare|
|2017-11-19 00:00:00|         OMGOmiseGO|
|2017-11-19 00:00:00|           ZECZcash|
|2017-11-19 00:00:00|         ADACardano|
|2017-11-19 00:00:00|         USDTTether|
|2017-11-19 00:00:00|  XLMStellar Lumens|
+-------------------+-------------------+
only showing top 20 rows

In [37]:
from pyspark.sql.functions import (date_format,format_number,dayofmonth,dayofweek,
                                  weekofyear,month,year,hour,dayofyear)

In [38]:
df.select(weekofyear(df['Data'])).show()  #data contains 46 week in csv file

+----------------+
|weekofyear(Data)|
+----------------+
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
|              46|
+----------------+
only showing top 20 rows

In [39]:
df.select(year(df['Data'])).show()

+----------+
|year(Data)|
+----------+
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
|      2017|
+----------+
only showing top 20 rows

In [46]:
df.withColumnRenamed("Data","Date").show()

+-------------------+-------------+-------------------+------+--------------+----------------+----+
|               Date|        Tipus|                Nom|Simbol|          Preu|Tipus_cotitzacio| _c6|
+-------------------+-------------+-------------------+------+--------------+----------------+----+
|2017-11-19 00:00:00|crypto_moneda|         BTCBitcoin|   BTC|6832.132357049|       molt_alta|null|
|2017-11-19 00:00:00|crypto_moneda|        ETHEthereum|   ETH| 298.516340662|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|    BCHBitcoin Cash|   BCH|1003.033599074|       molt_alta|null|
|2017-11-19 00:00:00|crypto_moneda|          XRPRipple|   XRP|   0.195272854|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|        LTCLitecoin|   LTC|  60.102649516|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           DASHDash|  DASH| 372.095987511|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|             NEONEO|   NEO|  32.961710374|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|          MIOTAIOTA| MIOTA|   0.729219422|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|          XMRMonero|   XMR| 108.665726285|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|             XEMNEM|   XEM|    0.17242484|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|ETCEthereum Classic|   ETC|  15.117010249|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|            LSKLisk|   LSK|   7.860165531|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           QTUMQtum|  QTUM|  11.777502082|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|             EOSEOS|   EOS|   1.606023011|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|          HSRHshare|   HSR|  16.476606449|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|         OMGOmiseGO|   OMG|    6.59404157|          normal|null|
|2017-11-19 00:00:00|crypto_moneda|           ZECZcash|   ZEC| 250.692544327|            alta|null|
|2017-11-19 00:00:00|crypto_moneda|         ADACardano|   ADA|   0.023438589|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|         USDTTether|  USDT|   0.847027583|           baixa|null|
|2017-11-19 00:00:00|crypto_moneda|  XLMStellar Lumens|   XLM|   0.030826295|           baixa|null|
+-------------------+-------------+-------------------+------+--------------+----------------+----+
only showing top 20 rows